*{
  box-sizing: border-box;
  margin: 0;
  // outline: 1px solid red;
}

body{
  background-image: url('../assets/dallas-reedy-H83_BXx3ChY-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.3rem;
  font-family: "lato", sans-serif;
}

